<header>
  <div class="wrapper">
    <nav>
        <a  href="/">
            <%= image_tag("claeus-logo.svg", alt: "hourglass Logo") %>

          </a>
          <a href="javascript:void(0)" id="slide-toggle">
            <i class="ion-navicon-round"></i>
          </a>
    </nav>
  </div>
</header>
