
<div class="wrapper">
  <div class="hero-section">
    <h1>We're an independent Design &amp; Development agency in the heart of Accra.</h1>
    <br><br>
    <div class="padded">
      <a href="/portfolio" class="btn-large">See what we've made</a>
    </div>
  </div>
</div>
