
<div class="wrapper">
  <div class="hero-section">
    <h1>Hi, My name is <strong>Claeus</strong>, a freelance web developer based in Accra, Ghana.</h1>
    <br><br>
    <div class="padded">
      <a href="/services" class="btn-large">Services</a>
      <a href="/portfolio" class="btn-large">See what i've made</a>
    </div>
  </div>
</div>
